.border-success {
  border: 1px solid #1d802a !important;
}
.border-black {
  border: 1px solid black !important;
}
.border-purple {
  border: 1px solid rgb(81, 5, 143) !important;
}
.border-brown {
  border: 1px solid rgb(118, 106, 0) !important;
}
.border-red {
  border: 1px solid rgb(195, 61, 4) !important;
}
.border-green {
  border: 1px solid rgb(3, 124, 1) !important;
}
.border-white {
  border: 1px solid white !important;
}
.border-pink {
  border: 1px solid rgb(255, 64, 129) !important;
}
.border-info {
  border: 1px solid rgb(16, 47, 107) !important;
}
.border-top-black {
  border-top: 1px solid black !important;
}
.border-bottom-black {
  border-bottom: 1px solid black !important;
}
.border-top-grey {
  border-top: 1px solid rgb(87, 87, 87) !important;
}
.border-bottom-grey {
  border-bottom: 1px solid rgb(87, 87, 87) !important;
}
.border-bottom-white {
  border-bottom: 1px solid white !important;
}
.border-top-white {
  border-top: 1px solid white !important;
}
.border-light-blue {
  border: 1px solid #00b0ff !important;
}
.border-light {
  border: 1px solid #d3d3d3 !important;
}
.border-docs-scroll-spy {
  border-top: 1px #2a2a2a solid !important;
  border-bottom: 1px #2a2a2a solid !important;
}
